:root {
  //! MAIN background
  --bg-green-main: #648556;

  //! MAIN COLORS
  --color-yellow: #f8d24e;
  --color-white-main: #ffffff;
  --color-white-accent: #ffffff;
  --color-black-main: #131313;
  --color-black-accent: #000000;

  //! BUTTONS
  --btn-defaut: #f3c623;
  --btn-hover-focus: #f4a81ce8;
  --btn-disabled: #ababab; 

  //! SECTION PRODUCTS AND MODALS
  --green-product: #aec6a5;
  --yellow-product: #efd478;
  --orange-product: #d6936d;

  //! SECTION ABOUT
  --bg-img-grey: #d9d9d9;
  --bg-img-yellow: #f8d24e;

  //! SECTION CONTACTS
  --address-color: #d6936d;
  --time-color: #ababab;

  //! footer
  --fill-soc-defaut: #84a178;
  --fill-soc-hover-focus: #fcfcfc;
  --border-color: #e1e1e1;
}
