<section class="about" id="about">
    <div class="about-container container">
        <div class="about-label">
            <p class=" about-label-uptitle">tradition and love</p>
            <h2 class="about-title section-title">how it’s made?</h2>
        </div>
        <div class="about-item">
            <div class="about-img-absolute"></div>
            <div class="about-text">
                <p class="about-text-upper">Ice is a place where you will become not only a little happier, but also
                    healthier.
                    Health is the main value for us, and
                    we follow it when creating our handmade desserts.</p>
                <p class="about-text-middle">We use traditional recipes and 100% natural ingredients. Our products are
                    so
                    natural
                    that they can be given to children
                    from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and
                    23
                    milkshakes.</p>
                <p class="about-text-lower">his is enough to choose ice cream and coffee for any mood!</p>
                <button class="about-btn js-open-modal" type="button" data-modal="3">Read more <svg class="about_icon"
                        width="12px" height="12px">
                        <use href="./images/icons.svg#icon-arrow-button">
                        </use>
                    </svg></button>
            </div>
        </div>
    </div>
    </div>
</section>