<section class="advantages">
  <div class="container container-advantages">
    <h2 class="hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <span
          class="advantages-title advantages-title-cow"
          data-aos="zoom-in-up"
          data-aos-duration="700"
          >721</span
        >
        <p class="advantages-text">number of cows on our farm</p>
      </li>
      <li class="advantages-item">
        <span
          class="advantages-title advantages-title-weight"
          data-aos="zoom-in-up"
          data-aos-duration="700"
          >16kg</span
        >
        <p class="advantages-text">kilos of ice cream per hour</p>
      </li>
      <li class="advantages-item">
        <span
          class="advantages-title advantages-title-ice"
          data-aos="zoom-in-up"
          data-aos-duration="700"
          >84</span
        >
        <p class="advantages-text">packets per hour</p>
      </li>
    </ul>
  </div>
</section>
