<section class="hero">
  <div class="container horo-container">
    <h1 class="hero-title" data-aos="zoom-in-down" data-aos-duration="1500">
      ice cream made with <span class="hero-title-decoration">passion</span>
    </h1>

    <ul class="hero-box1">
      <li>
        <span class="hero-nam">16</span>
        <p class="hero-p">cafes</p>
      </li>
      <li>
        <span class="hero-nam">23</span>
        <p class="hero-p">food trucks</p>
      </li>
    </ul>

    <ul class="hero-nav">
      <li class="hero-btns">
        <div class="hero-bt1">
          <a class="hero-link1" href="#products">Products</a>
        </div>
      </li>
      <li class="hero-btns">
        <div class="hero-bt2">
          <a class="hero-link2" href="#about">How it's made</a>
        </div>
      </li>
    </ul>
    <ul class="hero-dekoration">
      <li class="hero-dek-items">
        <div class="hero-im-plate"></div>
      </li>
      <li class="hero-dek-items">
        <p class="hero-text">
          We believe that simple natural food tastes best. Our ice cream is
          lovingly handmade in small batches in the heart of Ukraine using only
          simple, natural, and fresh local ingredients.
        </p>
        <button
          type="button"
          class="arrow-bt js-open-modal"
          aria-label="Open The interesting facts about ice cream"
          data-modal="8"
        >
          <svg class="arrow-bt-icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="hero-im-ice"></div>
    <div class="hero-im-dots"></div>
  </div>
</section>
