<div class="overlay js-overlay-modal"></div>

<!-- buy-now-2 -->
<div class="modal-buy-now modal-container modal" data-modal="1">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a form buy now"
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title">Buy now</p>
  <form>
    <ul class="buy-now-list">
      <li class="buy-now-item">
        <div class="modal-foto-container ice-cream-foto">
          <picture class="buy-now-foto">
            <source
              type="image/webp"
              srcset="
                ./images/modals/kelsey-curtis-mobile.webp    1x,
                ./images/modals/kelsey-curtis-mobile@2x.webp 2x
              "
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/modals/kelsey-curtis-mobile.jpg    1x,
                ./images/modals/kelsey-curtis-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/modals/kelsey-curtis-mobile.jpg"
              alt="ice cream"
              width="132"
            />
          </picture>
        </div>
        <input
          type="checkbox"
          name="ice-cream"
          id="ice-cream"
          class="ice-cream hidden"
          value="ice-cream"
        />
        <label for="ice-cream" class="buy-now-element ice-cream-element"
          >ice cream</label
        >
      </li>
      <li class="buy-now-item">
        <div class="modal-foto-container ice-coffee-foto">
          <picture class="buy-now-foto">
            <source
              type="image/webp"
              srcset="
                ./images/modals/pariwat-pannium-mobile.webp    1x,
                ./images/modals/pariwat-pannium-mobile@2x.webp 2x
              "
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/modals/pariwat-pannium-mobile.jpg    1x,
                ./images/modals/pariwat-pannium-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/modals/pariwat-pannium-mobile.jpg"
              alt="ice-coffee"
              width="132"
            />
          </picture>
        </div>
        <input
          type="checkbox"
          name="ice-coffee"
          id="ice-coffee"
          class="ice-coffee hidden"
          value="ice-coffee"
          checked
        />
        <label for="ice-coffee" class="buy-now-element ice-coffee-element"
          >ice coffee</label
        >
      </li>
      <li class="buy-now-item">
        <div class="modal-foto-container milkshake-foto">
          <picture class="buy-now-foto">
            <source
              type="image/webp"
              srcset="
                ./images/modals/victor-rutka-mobile.webp    1x,
                ./images/modals/victor-rutka-mobile@2x.webp 2x
              "
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/modals/victor-rutka-mobile.jpg    1x,
                ./images/modals/victor-rutka-mobile@2x.jpg 2x
              "
            />
            <img
              src="./images/modals/victor-rutka-mobile.jpg"
              alt="milkshake"
              width="132"
            />
          </picture>
        </div>
        <input
          type="checkbox"
          name="milkshake"
          id="milkshake"
          class="milkshake hidden"
          value="milkshake"
        />
        <label for="milkshake" class="buy-now-element milkshake-element"
          >milkshake</label
        >
      </li>
    </ul>
    <input
      type="text"
      name="user-name"
      placeholder="Name"
      class="modal-form-input"
      pattern="[A-Za-z]{1,15}"
      title="Username should only contain letters. e.g. Helen"
      required
    />
    <input
      type="tel"
      name="user-tel"
      placeholder="Phone"
      class="modal-form-input"
      pattern="^[0-9]+$"
      title="Phone should contain only numbers"
      required
    />
    <textarea
      name="user-coment"
      class="coment-input"
      placeholder="Comment"
    ></textarea>
    <button type="submit" class="modal-form-btn">Submit</button>
  </form>
</div>

<!-- product -->

<div class="modal-product modal-container modal" data-modal="2">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a form chocolate"
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title modal-product-title">Chocolate icecream</p>
  <div class="product-foto-container">
    <picture class="product-foto">
      <source
        type="image/webp"
        srcset="
          ./images/modals/modal-photo.webp    1x,
          ./images/modals/modal-photo@2x.webp 2x
        "
      />
      <source
        type="image/jpeg"
        srcset="
          ./images/modals/modal-photo.jpg    1x,
          ./images/modals/modal-photo@2x.jpg 2x
        "
      />
      <img
        src="./images/modals/modal-photo.jpg"
        alt="foto ice-cream"
        width="132"
      />
    </picture>
  </div>
  <ul class="list-value">
    <li class="value-item"><span class="value-element">320</span> kcal</li>
    <li class="value-item"><span class="value-element">4g</span> Prote...</li>
    <li class="value-item"><span class="value-element">8,2g</span> Fats</li>
    <li class="value-item"><span class="value-element">40,4g</span> Carbs</li>
  </ul>
  <h4 class="modal-uptitle">Ingredients</h4>
  <ul class="list-ingridient">
    <li class="list-ingr-item"><span>Milk</span> <span>100ml</span></li>
    <li class="list-ingr-item">
      <span>Belgian chocolate</span> <span>20g</span>
    </li>
    <li class="list-ingr-item"><span>Cream</span> <span>150 ml</span></li>
    <li class="list-ingr-item"><span>Cocoa powder</span> <span>30g</span></li>
    <li class="list-ingr-item"><span>Sugar</span> 40g</li>
    <li class="list-ingr-item"><span>Vanilla sugar</span> <span>10g</span></li>
  </ul>
  <form>
    <input
      type="text"
      name="user-name"
      placeholder="Name"
      class="modal-form-input"
      pattern="[A-Za-z]{1,15}"
      title="Username should only contain letters. e.g. Helen"
      required
    />
    <input
      type="tel"
      name="user-tel"
      placeholder="Phone"
      class="modal-form-input"
      pattern="^[0-9]+$"
      title="Phone should contain only numbers"
      required
    />
    <textarea
      name="user-coment"
      class="coment-input"
      placeholder="Comment"
    ></textarea>
    <button type="submit" class="modal-form-btn">Submit</button>
  </form>
</div>

<!-- video -->

<div class="modal-video modal-container modal" data-modal="3">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a video how it’s made? "
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title">How it’s made?</p>
  <iframe
    class="video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/GceBGYTkFwQ"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal-text">
    In keeping with our beliefs that simple, natural food tastes best, we have
    created a range of ice creams that are made using natural locally sourced
    ingredients (where possible), home-made flavours and free from additives or
    preservatives. Our Ice Cream is still made the old fashioned way, by hand,
    in small batches. We have developed over 30 delicious flavours of ice cream
    and sorbets, including our fantastic vegan range that’s made with a coconut
    milk base.
  </p>
</div>

<!-- location -->

<div class="modal-location modal-container modal" data-modal="4">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a modal our location "
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title">Our Locations</p>
  <iframe
    class="location-foto"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.820958606133!2d30.5288272!3d50.4444355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce54c1e48105%3A0x74d1d95832eb2407!2z0J7RhNGW0YEg0J_RgNC10LfQuNC00LXQvdGC0LAg0KPQutGA0LDRl9C90Lg!5e0!3m2!1sru!2sua!4v1672163171348!5m2!1sru!2sua"
    width="400"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <!-- <picture class="location-foto">
    <source
      srcset="
        ./images/modals/map-tab-desk.jpg    1x,
        ./images/modals/map-tab-desk-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/modals/map-tab-desk.webp    1x,
        ./images/modals/map-tab-desk-2x.webp 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/modals/map-mob.jpg 1x, ./images/modals/map-mob-2x.jpg 2x"
      media="(max-width: 767px)"
    />
    <source
      srcset="
        ./images/modals/map-mob.webp    1x,
        ./images/modals/map-mob-2x.webp 2x
      "
      media="(max-width: 767px)"
    />
    <img
      class="location-foto"
      src="./images/modals/map-tab-desk.jpg"
      alt="map"
      width="224"
    />
  </picture> -->
  <a
    href="https://goo.gl/maps/U3UQ4tHniajSKktS6"
    target="_blank"
    class="location-link"
    >open map</a
  >
</div>

<!-- franchise -->

<div class="modal-franchise modal-container modal" data-modal="5">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a form franchise"
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title">
    Thank you for your interest in owning an Ice Cream shop
  </p>
  <p class="modal-text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form>
    <input
      type="text"
      name="user-name"
      placeholder="Name"
      class="modal-form-input"
      pattern="[A-Za-z]{1,15}"
      title="Username should only contain letters. e.g. Helen"
      required
    />
    <input
      type="tel"
      name="user-tel"
      placeholder="Phone"
      class="modal-form-input"
      pattern="^[0-9]+$"
      title="Phone should contain only numbers"
      required
    />
    <input
      type="email"
      name="user-mail"
      placeholder="Email"
      class="modal-form-input"
      required
      pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
      title="Please enter a valid email address"
    />
    <textarea
      name="user-coment"
      class="coment-input"
      placeholder="Comment"
    ></textarea>
    <button type="submit" class="modal-form-btn">Submit</button>
  </form>
</div>

<!-- додаткові модалки -->

<div class="modal-product modal-container modal" data-modal="6">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a form orange ice-coffee"
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title modal-product-title">Orange ice-coffee</p>
  <div class="product-foto-container orang-coffee">
    <picture class="product-foto">
      <source
        type="image/webp"
        srcset="
          ./images/modals/orang-coffee-1x.webp 1x,
          ./images/modals/orang-coffee-2x.webp 2x
        "
      />
      <source
        type="image/jpeg"
        srcset="
          ./images/modals/orang-coffee-1x.jpg 1x,
          ./images/modals/orang-coffee-2x.jpg 2x
        "
      />
      <img
        src="./images/modals/modal-photo.jpg"
        alt="orange ice-coffee"
        width="132"
      />
    </picture>
  </div>
  <ul class="list-value">
    <li class="value-item orang-coffee">
      <span class="value-element orang-coffee">200</span> kcal
    </li>
    <li class="value-item orang-coffee">
      <span class="value-element orang-coffee">2g</span> Prote...
    </li>
    <li class="value-item orang-coffee">
      <span class="value-element orang-coffee">6,2g</span> Fats
    </li>
    <li class="value-item orang-coffee">
      <span class="value-element orang-coffee">25,4g</span> Carbs
    </li>
  </ul>
  <h4 class="modal-uptitle">Ingredients</h4>
  <ul class="list-ingridient">
    <li class="list-ingr-item"><span>Ice</span> <span>5pieces</span></li>
    <li class="list-ingr-item"><span>Caramel syrup</span> <span>10ml</span></li>
    <li class="list-ingr-item"><span>Orange juice</span> <span>100ml</span></li>
    <li class="list-ingr-item"><span>Espresso</span> <span>35ml</span></li>
  </ul>
  <form>
    <input
      type="text"
      name="user-name"
      placeholder="Name"
      class="modal-form-input"
      pattern="[A-Za-z]{1,15}"
      title="Username should only contain letters. e.g. Helen"
      required
    />
    <input
      type="tel"
      name="user-tel"
      placeholder="Phone"
      class="modal-form-input"
      pattern="^[0-9]+$"
      title="Phone should contain only numbers"
      required
    />
    <textarea
      name="user-coment"
      class="coment-input"
      placeholder="Comment"
    ></textarea>
    <button type="submit" class="modal-form-btn">Submit</button>
  </form>
</div>

<div class="modal-product modal-container modal" data-modal="7">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close a form milkshake "
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title modal-product-title">Milkshake Oreo</p>
  <div class="product-foto-container milkshake-oreo">
    <picture class="product-foto">
      <source
        type="image/webp"
        srcset="
          ./images/modals/milkshake-1x.webp 1x,
          ./images/modals/milkshake-1x.webp 2x
        "
      />
      <source
        type="image/jpeg"
        srcset="
          ./images/modals/milkshake-1x.jpg 1x,
          ./images/modals/milkshake-2x.jpg 2x
        "
      />
      <img src="./images/modals/modal-photo.jpg" alt=" milkshake" width="132" />
    </picture>
  </div>
  <ul class="list-value">
    <li class="value-item milkshake-oreo">
      <span class="value-element milkshake-oreo">350</span> kcal
    </li>
    <li class="value-item milkshake-oreo">
      <span class="value-element milkshake-oreo">6g</span> Prote...
    </li>
    <li class="value-item milkshake-oreo">
      <span class="value-element milkshake-oreo">10,2g</span> Fats
    </li>
    <li class="value-item milkshake-oreo">
      <span class="value-element milkshake-oreo">30,6g</span> Carbs
    </li>
  </ul>
  <h4 class="modal-uptitle">Ingredients</h4>
  <ul class="list-ingridient">
    <li class="list-ingr-item"><span>Oreo cookies</span> <span>130g</span></li>
    <li class="list-ingr-item"><span>Ice cream</span> <span>200g</span></li>
    <li class="list-ingr-item"><span>Milk</span> <span>100ml</span></li>
    <li class="list-ingr-item"><span>Cream</span> <span>150ml</span></li>
    <li class="list-ingr-item">
      <span>Whipped cream</span> <span>150ml</span>
    </li>
  </ul>
  <form>
    <input
      type="text"
      name="user-name"
      placeholder="Name"
      class="modal-form-input"
      pattern="[A-Za-z]{1,15}"
      title="Username should only contain letters. e.g. Helen"
      required
    />
    <input
      type="tel"
      name="user-tel"
      placeholder="Phone"
      class="modal-form-input"
      pattern="^[0-9]+$"
      title="Phone should contain only numbers"
      required
    />
    <textarea
      name="user-coment"
      class="coment-input"
      placeholder="Comment"
    ></textarea>
    <button type="submit" class="modal-form-btn">Submit</button>
  </form>
</div>

<div class="modal-video modal-container modal" data-modal="8">
  <button
    type="button"
    class="button-close js-modal-close"
    aria-label="Close The interesting facts about ice cream"
  >
    <svg class="modal-icon">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-title modal-hero">The interesting facts about ice cream</p>
  <p class="modal-text">
    Ice cream's origins are known to reach back as far as the second century
    B.C., although no specific date of origin nor inventor has been undisputably
    credited with its discovery. We know that Alexander the Great enjoyed snow
    and ice flavored with honey and nectar. Biblical references also show that
    King Solomon was fond of iced drinks during harvesting. During the Roman
    Empire, Nero Claudius Caesar (A.D. 54-86) frequently sent runners into the
    mountains for snow, which was then flavored with fruits and juices.
  </p>
</div>
