<section class="products" id="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-title section-title">products</h2>
    <ul class="products-list">
      <li class="products-item products-item__ice-cream">
        <div class="product-card product-card__ice-cream">
          <div class="product-wrap">
            <h3 class="product-card__title">ice cream</h3>
            <p class="product-card__description">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <button
            type="button"
            class="product-button js-open-modal"
            data-modal="2"
            aria-label="Open a form for order ice cream"
          >
            <svg width="40" height="16" class="product-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-item products-item__ice-coffee">
        <div class="product-card product-card__ice-coffee">
          <div class="product-wrap">
            <h3 class="product-card__title">ice coffee</h3>
            <p class="product-card__description">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <button
            type="button"
            class="product-button js-open-modal"
            data-modal="6"
            aria-label="Open a form for order ice coffee"
          >
            <svg width="40" height="16" class="product-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-item products-item__milkshakes">
        <div class="product-card product-card__milkshakes">
          <div class="product-wrap">
            <h3 class="product-card__title">milkshakes</h3>
            <p class="product-card__description">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <button
            type="button"
            class="product-button js-open-modal"
            data-modal="7"
            aria-label="Open a form for order milkshakes"
          >
            <svg width="40" height="16" class="product-button__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
