.customer__container {
  position: relative;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #84a178;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
  @include desktop {
    left: 0;
  }
}

//-------------------------------------------------- SLIDER STYLES------------------------------------------
.customer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;

  // background-image: url(../images/background/backgroud_mobile.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  // @include retina {
  //   background-image: url(../images/background/backgroud_mobile@2x.jpg);
  // }
  @include tablet {
    padding-top: 100px;
    padding-bottom: 80px;
    // background-image: url(../images/background/background-tablet.jpg);

    // @include retina {
    //   background-image: url(../images/background/background-tablet@2x.jpg);
    // }
  }
  @include desktop {
    padding-top: 140px;
    padding-bottom: 100px;

    // background-image: url(../images/background/background-dekstop.jpg);
    // @include retina {
    //   background-image: url(../images/background/background-dekstop@2x.jpg);
    // }
  }
}

.picture {
  border-radius: 50%;
  overflow: hidden;
}

.customer-reviews__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.customer-reviews__text {
  display: flex;
  height: 256px;
  justify-content: center;
  align-items: center;
  padding: 35px 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  color: var(--fill-soc-hover-focus);
   min-width: 280px;
  background-color: var(--bg-green-main);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    height: 138px;
    padding: 28px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1200px) {
    min-width: 968px;
    padding: 42px 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  margin-bottom: 20px;
  color: #131313;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}
